<a href = "https://mods.sketchcraft.club/scripts/delete_all.js">delete all posts, modify user id and paste into browser console, no confirmation is asked after running so be careful</a><br>
<a href = "https://mods.sketchcraft.club/scripts/delete_posts_menu.js">delete a set of posts with checkbox selection - note load all the posts first because the checkbox will not appearon newly loaded posts, use tampermonkey </a>
<br><a href = "https://mods.sketchcraft.club/scripts/tagtop.py">tagtop python</a>
<br><a href = "https://mods.sketchcraft.club/scripts/chat-downloader.py">download a chat (with no media)</a>