/* SIZING */
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
a {
    text-decoration:none;
    font-weight: bolder;
}
textarea, select, input[type=text] {
    border-radius: 25pt;
    border-style: solid;
    padding: 10pt;
    width: 99%;
    font-size: 25pt;
    margin: 0;
}
p {
    font-size: 17pt;
}
label {
    font-size: 25pt;
    font-weight: bold;
}
input[type=checkbox] {
    transform: scale(2.3);
    margin-right: 20pt;
}
button {
    border-style: solid;
    border-width: 5pt;
    border-radius: 25pt;
    padding: 10pt;
    width: 99%;
    font-size: 25pt;
}
header {
    border-bottom-width: 5pt;
    border-bottom-style: solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12pt;
    font-size: 40pt;
    position: relative;
}
main  {
    padding: 25pt;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.left {
    margin-right: 25pt;
}
h1 {
    text-decoration: underline;
    margin-top: 0;
    font-size: 30pt;
}
h2 {
    margin-top: 0;
    font-size: 27pt;
}
h3 {
    margin-top: 0;
    font-size: 22pt;
}
table {
    border-style: solid;
    border-width: 5pt;
    border-radius: 5pt;
    font-size: 24pt;
    width: 100%;
}
td, th {
    padding: 10pt;
}
tr:nth-child(even) {
    outline-style: solid;
    outline-width: 5pt;
}
td:first-child {
    font-weight: bolder;
}
.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190pt, 1fr));
    grid-gap: 5px;
}
.link {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    box-sizing: border-box;
    font-size: 24pt;
    aspect-ratio: 1 / 1;

    border-style: solid;
    border-width: 5pt;
    border-radius: 25pt;
    padding: 10pt;
}
.emoji {
    font-size:  50pt;
}
.toc {
    font-size: 25pt;
}
img {
    border-style: solid;
    border-width: 2pt;
}

/* COLOURS */
body {
    background-color: rgba(32,32,32);
    color: whitesmoke;
}
header {
    background-color: black;
    border-bottom-color: rgba(255,216,130,1);
}
table {
    border-color: rgba(173,216,130,1);
}
tr:nth-child(even) {
    outline-color: rgba(173,216,130,0.25);
    background-color: rgba(173,216,130,0.25);
}
.link {
    background-color: rgba(173,216,130,0.25);
    border-color: rgba(173,216,130,1);
}
button {
    background-color: rgb(32, 32, 32);
    color: light;
    border-color: rgba(173,216,130,1);
}
button:hover {
    background-color: rgba(173,216,130,1);
    color: rgb(32, 32, 32);
}
textarea, select, input[type=text]  {
    background-color: rgb(52, 52, 52);
    color: white;
    border-color: rgb(59, 59, 59);
}
h1, h2, h3, a, th, label  {
    color: rgba(173,216,130,1);
}
img {
    border-color: rgba(173,216,130,1);
}

/* RAINBOW */
.rainbow
{
    background-image: repeating-linear-gradient(90deg, rgb(242, 104, 43), rgb(255, 166, 25), rgb(245, 215, 19), rgb(137, 216, 66), rgb(53, 194, 249), rgb(155, 95, 224), rgb(255, 104, 207), rgb(242, 104, 43));
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
